img {
  max-width: 30%;
  max-height: 30%;
  margin: 50px 0 0 50px;
  border: solid 2px rgb(117, 201, 117);
}

.title {
  letter-spacing: 5px;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  margin: 10px;
}
.red {
  color: red;
  opacity: 0.7;
}
